#tituloprincipal{
    color :magenta;
    text-aling: center;
    font-size: 40px; 
}
.textorosaclaro{
    text-align: justify;
    color: blueviolet;
}
body{
    background-color: black;
}