
#titulo-principal{

    color :magenta;
    text-align: center;
    font-size: 40px; 
}
.texto-rosaclaro{
    text-align: justify;
    color: blueviolet;
}
.texto-rosamedio{
    text-align: justify;
    color: rgba(226, 43, 150, 0.692);
}
.texto-rosaescuro{
    text-align: justify;
    color: deeppink;
}

body{
    background-color: rgba(0, 0, 0, 0.116);
    .cabecalho{ 
        background-color: blueviolet;
        itens{
            font-size: italic;
        }
        .benefícios{ 
            background-color: palevioletred;
        }
    }
}
#banner{
   width: 100%;/*largura/; 
}




