#tituloprincipal{
    color :magenta;
    text-aling: center;
    font-size: 40px; 
}
.texto-rosaclaro{
    text-align: justify;
    color: blueviolet;
}
.texto-rosamedio{
    text-align: justify;
}

body{
    background-color: black;
}